.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  padding: 2rem;
  /* width: 100%;
    display: flex;
    flex-flow: column wrap;
    height: 350px;
    align-items: center;
    position: relative; */
}


.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}